@import "@datawheel/canon-cms/src/css/mixins.css";

footer {
  align-items: center;
  background-color: var(--darkblue);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 var(--gutter-xl);

  @mixin max-sm {
    justify-content: center;
  }

  & .sponsors {
    background-color: var(--verydarkblue);
    min-width: 100%;
    padding: var(--gutter-sm);
  }
  & .footer-logo {
    margin: var(--gutter-xl);
    & img {
      width: 180px;
    }
  }
  & .footer-links {
    margin: var(--gutter-xl);
    & .footer-link {
      color: var(--white);
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      margin-left: 50px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
