@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Poppins:wght@400;500;600&display=swap");

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
}

.bp3-dialog.cp-hero-search {
  background-color: var(--background);
}

.bp3-dialog .cms-profilesearch {
  & .cp-input-label {
    height: 67px;
    & .cp-input {
      background-color: var(--white);
      border-radius: 15px;
    }
  }
  & .cms-profilesearch-container {
    background-color: var(--backgroundlight) !important;
    border-radius: 15px;
    box-shadow: 4px 4px 5px rgba(7, 33, 58, 0.15);
    height: calc(100vh - 67px - var(--nav-height) - var(--gutter-md) - var(--gutter-md));
    margin: var(--gutter-md) 0;
    overflow-y: scroll;
    padding: var(--gutter-lg);
  }
}

.cms-profilesearch-tile {
  background-color: var(--background);
  height: 200px;
  max-width: 300px !important;
  min-width: 225px !important;
  & .cms-profilesearch-tile-link {
    background: linear-gradient(to bottom, rgba(20, 64, 106, 0) 40%, rgba(20, 64, 106, 0.8) 80%);
    border: 0;
    height: 200px;
    & .cms-profilesearch-tile-link-text {
      align-self: flex-end;
      padding: var(--gutter);
      text-align: left;
      & .cms-profilesearch-tile-link-title {
        color: var(--white);
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
      }
      & .cms-profilesearch-tile-link-sub {
        color: var(--emerald);
        font-family: "Oswald", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin-top: 0 !important;
        text-transform: uppercase;
      }
    }
  }
  & .cms-profilesearch-tile-image {
    background-position: center;
    height: 200px;
  }
}

.d3plus-tooltip {
  box-shadow: -1px -1px 3px rgba(15, 43, 70, 0.1), 1px 1px 3px rgba(15, 43, 70, 0.1);
  & .d3plus-tooltip-thead {
    & tr {
      border-top: 0.75px solid var(--darkblue) !important;
    }
  }
  & .d3plus-tooltip-tbody {
    & tr:first-child {
      border-top: 0 !important;
      & td {
        padding: 16px 6px 6px !important;
      }
    }
    & td:last-child {
      padding-left: var(--gutter-lg) !important;
      text-align: right !important;
    }
  }
}
