@media print {

  .cp .cp-hero-stat a::after {
    color: white;
    content: attr(href);
    display: block;
    font-size: var(--font-xs);
  }

  .cp-hero-heading-dimension {
    border: 0;
  }

  /* hide unuseful stuff */
  nav,
  .cp-hero-pdf,
  .cp-hero-credits,
  .cp .profile-tiles {
    display: none !important;
  }

  .cp-section {
    margin: 0 !important;
    & .cp-section-inner {
      background-color: transparent !important;
      box-shadow: none !important;
      & .cp-section-paragraph a {
        color: inherit;
        &::after {
          content: "";
        }
      }
    }
  }

  footer {
    background-color: transparent;
    padding: 0;
    & .footer-logo,
    & .footer-links {
      display: none;
    }
  }

}
