@import "@datawheel/canon-cms/src/css/mixins.css";

#Home {
  background-color: var(--backgroundlight);
  & .home-splash {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: calc(var(--nav-height) + var(--gutter-xl)) var(--gutter-xl) var(--gutter-md);
    position: relative;

    @mixin max-md {
      flex-direction: column;
      padding: calc(var(--nav-height) + var(--gutter-md)) var(--gutter-md) var(--gutter-md);
    }

    & .home-splash-image {
      background-image: url("/images/home-splash.jpg");
      background-position: center;
      background-size: cover;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 0;
      &:after {
        background: linear-gradient(180deg, rgba(11, 46, 81, 0.75) 1.82%, rgba(51, 43, 9, 0.3) 100%);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }
    }
    & .home-splash-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      margin-right: var(--gutter-lg);
      max-width: 500px;
      z-index: 2;
      @mixin max-md {
        align-items: center;
        margin-right: 0;
        max-width: 100%;
      }
      & .home-splash-logo {
        margin-bottom: var(--gutter-lg);
        max-width: 300px;
      }
      & .cms-profilesearch {
        & .cp-input-label {
          & .cp-input {
            background-color: var(--white);
            border-radius: 0;
            padding: 0.5em 3em .4em 1.8em;
            @mixin max-sm {
              padding: 0.5em 3em .4em 2.4em;
            }
          }
        }
      }
      @mixin max-md {
        align-items: center;
        margin-right: 0;
        max-width: 100%;
      }
    }
    & .home-splash-map {
      height: 350px;
      flex: 1;
      margin-left: var(--gutter-lg);
      max-width: 500px;
      z-index: 1;
      @mixin max-md {
        height: 300px;
        margin-left: 0;
        max-width: 100%;
      }
    }
    & .sponsors {
      margin-top: var(--gutter-xl);
      min-width: 100%;
      z-index: 1;
    }
  }

  & .home-intro {
    margin: 0 auto var(--gutter-xl);
    padding: calc(var(--gutter-xl) * 2) var(--gutter-xl) 0;
    max-width: calc(1135px + var(--gutter-xl) + var(--gutter-xl));
    & h2 {
      color: var(--darkblue);
      font-family: "Oswald", sans-serif;
      font-size: 46px;
      font-style: normal;
      font-weight: normal;
      margin: 0 auto calc(var(--gutter-lg) * 2);
      text-align: center;
    }
    & div {
      color: var(--gris);
      columns: 2;
      column-gap: var(--gutter-xl);
      & p {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 25.5px;
        margin-bottom: var(--gutter-md);
        & b {
          color: var(--darkblue);
          font-weight: 500;
        }
      }
      @mixin max-sm {
        columns: 1;
      }
    }
  }

}
