.cp-hero {
  max-height: 650px;
  min-height: auto;
  padding: var(--nav-height) var(--gutter-xl);
  & .cp-hero-inner {
    padding: 0;
    position: relative;
  }
  & .cp-hero-img-overlay {
    background: linear-gradient(180deg, rgba(18, 19, 29, 0.9) 0, rgba(34, 37, 64, 0.4) 40%, rgba(26, 54, 90, 0.85) 70%, #14406A 85%);
    background-color: transparent;
    opacity: 1;
  }

  & .cp-hero-heading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
  }

  & .cp-hero-heading {
    font-size: 84px;
    margin-bottom: var(--gutter-xs);
  }
  & .cp-hero-subhead {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: lowercase;
  }

  & .cp-hero-stat-group-wrapper {
    bottom: 0;
    margin-top: 0;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    width: 300px;
    z-index: 3;
    & .cp-hero-stat {
      display: inline-block;
      flex: none;
      margin: 0;
      min-width: 0;
      width: auto;
      & .cp-stat-label-text {
        text-transform: lowercase;
      }
      & .cp-stat-value-text {
        margin: 0;
      }
    }
  }

  & .cp-hero-figure {
    padding: 0;
  }

  & .cp-hero-pdf {
    align-items: center;
    border: 0;
    bottom: 0;
    color: var(--white);
    display: flex;
    flex-direction: row-reverse;
    left: 0;
    opacity: 0.75;
    padding: var(--gutter-xs);
    position: absolute !important;
    right: auto;
    top: auto;
    z-index: 3;
    & .cp-button-text {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      margin: 0;
      max-width: 110px;
      text-align: left;
      text-transform: uppercase;
    }
    & .bp3-icon {
      margin: 0 20px 0 0 !important;
      transform: scale(1.5);
      vertical-align: bottom;
    }
    &:hover {
      background: none;
      cursor: pointer;
      opacity: 1;
      & .bp3-icon {
        transform: scale(1.75);
      }
    }
  }
  & .cp-hero-credits {
    bottom: var(--nav-height);
    display: flex;
    left: calc(var(--gutter-xl) + 180px);
    margin: 0;
    padding: var(--gutter-xs);
    position: absolute;
    width: 150px;
    & .cp-hero-credits-button {
      align-items: center;
      border: 0;
      display: flex;
      padding: 0;
      position: static;
      & .cp-button-text {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: left;
        text-transform: uppercase;
        width: 80px;
      }
      & .bp3-icon {
        margin: 0 15px 0 0 !important;
        transform: scale(1.25);
        vertical-align: bottom;
      }
      &:hover,&:focus {
        background: none;
        border: 0;
        cursor: pointer;
        opacity: 1;
        & .bp3-icon {
          transform: scale(1.5);
        }
      }
    }
    & .cp-hero-credits-text {
      color: white;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      margin: 0;
      text-transform: uppercase;
      & .cp-hero-credits-name {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
      }
    }
    &.is-open {
      top: auto;
      & .cp-hero-credits-button {
        background-color: transparent;
        border: 0;
        top: auto;
        & .cp-button-text {
          display: none;
        }
      }
    }
  }
}

.cp-subnav {
  align-items: center;
  &.is-fixed {
    box-shadow: none;
  }
  & .cp-subnav-list.cp-subnav-secondary {
    background-color: #2b5986;
    flex: none;
    height: 37px;
    width: 100%;
    & .cp-subnav-link {
      font-size: 13px;
      text-transform: uppercase;
    }
  }
  & .cp-subnav-item {
    & .bp3-icon {
      font-size: var(--font-lg);
      transition: color 0.2s, transform 0.2s;
    }
    &.is-active {
      & .bp3-icon {
        color: var(--accent);
      }
      & .cp-subnav-link {
        color: var(--white);
      }
    }
    &:after {
      height: 6px;
    }
    & .cp-subnav-group-list {
      background-color: #2b5986;
      box-shadow: none;
      & .cp-subnav-group-link-icon {
        display: none;
      }
      & .cp-subnav-group-link {
        font-size: 13px;
        line-height: 19px;
        text-transform: uppercase;
      }
    }
  }
}

/* Section "Grouping" Background Color and Margin */
.cp-grouping-section {
  background-color: transparent;
  margin-top: calc(var(--gutter-lg) * 2) !important;
}

.cp-section:not(.cp-grouping-section) + .cp-sub-grouping-section {
  margin-top: calc(var(--gutter-xl) * 2) !important;
}

/* Section "Grouping" Header Text */
.cp-grouping-section-heading {
  color: var(--darkblue);
  font-family: "Oswald", sans-serif;
  font-size: 46px;
  font-weight: normal;
  margin-left: calc(var(--gutter-md) * -1);
  padding: 0;
  text-align: center;
  width: 100%;
}

/* Section "SubGrouping" Header Text */
.cp-sub-grouping-section {
  position: relative;
  text-align: center;
  & .cp-grouping-section-caption {
    columns: 2;
    display: inline-block;
    margin: 0 auto;
    padding-top: calc(var(--gutter-lg) * 2);
    text-align: left;
    & .cp-sub-grouping-section-heading-wrapper {
      width: 100%;
      & .cp-section-heading {
        color: var(--midblue);
        font-family: "Oswald", sans-serif;
        font-size: 34px;
        font-weight: normal;
        margin: var(--gutter-xs) var(--gutter-md);
        padding: 0;
        left: 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        width: calc(100% - var(--gutter-xl));
      }
      & .cp-section-heading-anchor {
        display: none;
      }
    }
    & .cp-sub-grouping-section-paragraph {
      color: var(--midblue);
      font-family: var(--base-font-stack);
      font-style: normal;
      font-size: 14px;
      line-height: 21px;
      font-weight: normal;
      margin: 0;
      max-width: 450px;
      padding: var(--gutter-xs);
      &:first-of-type {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
}

/* Standard Section Container */
.cp-section:not(.cp-grouping-section-inner):not(.cp-hero) {
  margin: var(--gutter-md);
  padding: 0;
}

/* Standard Section Inner Container */
.cp-section-inner:not(.cp-grouping-section-inner):not(.cp-hero-inner) {
  background-color: var(--backgroundlight);
  border-radius: 15px;
  box-shadow: 4px 4px 5px rgba(7, 33, 58, 0.15);
  padding: var(--gutter-xl) var(--gutter-xl) calc(var(--gutter-lg) * 2);
}

/* Adjust middle gutter on standard screens */
@media (min-width: 768px) {
  .cp-default-section-figure {
    width: calc(100% - var(--sidebar-width) - var(--gutter-lg));
  }
}

/* Standard Section Titles */
h4 {
  font-size: 34px;
}

.cp-select-label:not(:last-child),
.cp-button-group {
  margin-bottom: var(--gutter-sm);
}

/* Selector Label Text */
.cp-button-group > [class*="-label"],
.cp-select-text, label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

/* All Button Styles */
.cp-button,
.cp-select {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.cp-select-icon {
  font-size: 16px;
  right: 0.5em;
}

/* Selector Button Container */
.cp-button-group > [class*="-button"] {
  border-radius: 20px !important;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.cp-stat, .cp-stat-group {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: var(--gutter-md);
  margin-top: var(--gutter-lg);
}

.cp-stat-group-list > .cp-stat {
  margin-bottom: 0;
}

.cp-stat-group-wrapper .cp-stat-value-text {
  margin-right: 16px;
}

.cp-stat-label {
  margin-top: var(--gutter-xs);
}

.cp-stat-subtitle {
  display: inline-block;
  width: auto;
}

.cp-stat-group-title {
  color: var(--darkblue);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-top: var(--gutter-xs);
}

.multi-list {
  & .multi-item {
    background-color: var(--emerald);
    margin: var(--gutter-xs) var(--gutter-xs) var(--gutter-xs) 0;
    padding: var(--button-padding);
  }
}

p {
  font-size: 17px;
}

.cp-viz-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  & .cp-viz-header {
    position: static;
    & .cp-viz-title {
      color: var(--darkblue);
      font-family: "Oswald", sans-serif;
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
      margin: var(--gutter-sm) !important;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
    & .Options {
      bottom: -50px;
      position: absolute;
      right: 0;
      & .cp-button {
        align-items: center;
        display: flex;
      }
    }
  }
  & .cp-viz-figure,
  & .cp-viz-header + .cp-viz-figure {
    bottom: auto;
    height: auto;
    flex: 1 1 auto;
    margin-bottom: 0;
    padding-top: 0;
    top: auto;
  }
}

.d3plus-tooltip {
  z-index: 20;
}
