@import "@datawheel/canon-cms/src/css/mixins.css";

.cp-hero {
  max-height: 700px;
  min-height: 630px;
  padding: var(--nav-height) var(--gutter-xl);
  @mixin max-sm {
    padding-bottom: 0;
  }
  & .cp-hero-inner {
    padding: 0;
    position: relative;
    width: 100%;
  }
  & .cp-hero-img-overlay {
    background: linear-gradient(180deg, rgba(18, 19, 29, 0.9) 0, rgba(34, 37, 64, 0.4) 40%, rgba(26, 54, 90, 0.85) 70%, #14406A 85%);
    background-color: transparent;
    opacity: 1;
  }

  & .cp-hero-heading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    @mixin max-sm {
      min-height: 0;
    }
  }

  & .cp-hero-heading {
    font-size: 84px;
    margin-bottom: var(--gutter-xs);
  }
  & .cp-hero-subhead {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    margin: var(--gutter-md) 0;
    text-transform: lowercase;
  }

  & .cp-hero-stat-group-wrapper {
    bottom: 0;
    margin-top: 0;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    width: 300px;
    z-index: 3;
    @mixin max-md {
      justify-content: center;
      width: 100%;
    }
    & .cp-hero-stat {
      display: inline-block;
      flex: none;
      margin: 0;
      min-width: 0;
      overflow: hidden;
      width: auto;
      & .cp-stat-label-text {
        text-transform: lowercase;
      }
      & .cp-stat-value-text {
        margin: 0;
        & img {
          max-height: 24px;
        }
      }
    }
  }

  & .cp-hero-figure {
    align-self: stretch;
    padding: 0;
    @mixin max-md {
      min-height: 300px !important;
    }
  }

  & .cp-hero-pdf {
    align-items: center;
    border: 0;
    bottom: 0;
    color: var(--white);
    display: flex;
    flex-direction: row-reverse;
    left: 0;
    opacity: 0.75;
    padding: var(--gutter-xs);
    position: absolute !important;
    right: auto;
    top: auto;
    z-index: 3;
    @mixin max-sm {
      display: none;
    }
    & .cp-button-text {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      margin: 0;
      max-width: 110px;
      text-align: left;
      text-transform: uppercase;
    }
    & .bp3-icon {
      margin: 0 20px 0 0 !important;
      transform: scale(1.5);
      vertical-align: bottom;
    }
    &:hover {
      background: none;
      cursor: pointer;
      opacity: 1;
      & .bp3-icon {
        transform: scale(1.75);
      }
    }
  }
  & .cp-hero-credits {
    bottom: var(--nav-height);
    display: flex;
    left: calc(var(--gutter-xl) + 180px);
    margin: 0;
    padding: var(--gutter-xs);
    position: absolute;
    width: 150px;
    & .cp-hero-credits-button {
      align-items: center;
      border: 0;
      color: var(--light-3);
      display: flex;
      padding: 0;
      position: static;
      & .cp-button-text {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: left;
        text-transform: uppercase;
        width: 80px;
      }
      & .bp3-icon {
        margin: 0 15px 0 0 !important;
        transform: scale(1.25);
        vertical-align: bottom;
      }
      &:hover,&:focus {
        background: none;
        border: 0;
        color: var(--white);
        cursor: pointer;
        opacity: 1;
        & .bp3-icon {
          transform: scale(1.5);
        }
      }
    }
    & .cp-hero-credits-text {
      color: white;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      margin: 0;
      text-transform: uppercase;
      & .cp-hero-credits-name {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
      }
    }
    &.is-open {
      top: auto;
      & .cp-hero-credits-button {
        background-color: transparent;
        border: 0;
        top: auto;
        & .cp-button-text {
          display: none;
        }
      }
    }
  }
}

.cp-subnav {
  align-items: center;
  &.is-fixed {
    box-shadow: none;
  }
  & .cp-subnav-list.cp-subnav-secondary {
    background-color: #2b5986;
    flex: none;
    height: 37px;
    width: 100%;
    & .cp-subnav-link {
      font-size: 13px;
      text-transform: uppercase;
    }
  }
  & .cp-subnav-item {
    & .bp3-icon {
      font-size: var(--font-lg);
      transition: color 0.2s, transform 0.2s;
    }
    &.is-active {
      & .bp3-icon {
        color: var(--accent);
      }
      & .cp-subnav-link {
        color: var(--white);
      }
    }
    &:after {
      height: 6px;
    }
    & .cp-subnav-group-list {
      background-color: #2b5986;
      box-shadow: none;
      & .cp-subnav-group-link-icon {
        display: none;
      }
      & .cp-subnav-group-link {
        font-size: 13px;
        line-height: 19px;
        text-transform: uppercase;
      }
    }
  }
}

/* Introduction Section w/ Radar */
#cp-section-104 {
  background-color: var(--darkblue);
  margin: 0;
  padding: var(--gutter-md) var(--gutter-xl);
  & .cp-section-inner {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    max-width: 1000px;
    flex-direction: row-reverse;
    padding: 0 var(--gutter-xl);

    @mixin max-md {
      flex-direction: column-reverse;
      max-width: 100%;
      padding: 0;
    }

    & .cp-section-content {
      padding: var(--gutter-xl) 0;
      width: 50%;
      @mixin max-md {
        padding: var(--gutter-md) 0 0;
        width: 100%;
      }
    }
    & .cp-default-section-figure {
      width: 50%;
      @mixin max-md {
        height: 300px;
        width: 100%;
      }
    }
    & h2, & p {
      color: var(--white);
    }
    & .SourceGroup, & .Options {
      display: none;
    }

  }
}

/* Section "Grouping" Background Color and Margin */
.cp-grouping-section {
  background-color: transparent;
  margin-top: calc(var(--gutter-lg) * 2) !important;
  padding-bottom: 0.25rem;
  padding-top: 2.5rem;
}

/* Section "Grouping" Header Text */
.cp-grouping-section-heading {
  color: var(--darkblue);
  font-family: "Oswald", sans-serif;
  font-size: 46px;
  font-weight: normal;
  margin-left: calc(var(--gutter-md) * -1);
  padding: 0;
  text-align: center;
  width: 100%;
}

/* Standard Section Container */
.cp-section:not(.cp-grouping-section):not(.cp-sub-grouping-section):not(.cp-hero) {
  margin: var(--gutter-md);
  padding: 0;
  @mixin max-md {
    margin: var(--gutter-sm) 0;
  }
}

/* Standard Section Inner Container */
.cp-section-inner:not(.cp-grouping-section-inner):not(.cp-sub-grouping-section-inner):not(.cp-hero-inner) {
  background-color: var(--backgroundlight);
  border-radius: 15px;
  box-shadow: 4px 4px 5px rgba(7, 33, 58, 0.15);
  padding: var(--gutter-xl) var(--gutter-xl) calc(var(--gutter-lg) * 2);
  @mixin max-md {
    border-radius: 0;
    padding: var(--gutter-md) var(--gutter-md) calc(var(--gutter-sm) * 2);
  }
}

/* fixes box-shadow cropping on sections */
.cp-section {
  overflow: visible;
}

/* Adjust middle gutter on standard screens */
@mixin min-sm {
  .cp-default-section-figure {
    width: calc(100% - var(--sidebar-width) - var(--gutter-lg));
  }
}

/* Standard Section Titles */
h4 {
  font-size: 34px;
  margin-bottom: var(--gutter-md);
}

.cp-select-label:not(:last-child),
.cp-button-group {
  margin-bottom: var(--gutter-sm);
}

/* Selector Label Text */
.cp-button-group > [class*="-label"],
.cp-select-text, label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

/* All Button Styles */
.cp-button,
.cp-select {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.cp-select-icon {
  font-size: 16px;
  right: 0.5em;
}

/* Selector Button Container */
.cp-button-group > [class*="-button"] {
  border-radius: 20px !important;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.cp-stat, .cp-stat-group {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: var(--gutter-md);
  margin-top: 0;
}

.cp-stat-group-list > .cp-stat {
  margin-bottom: 0;
}

.cp-stat-group-wrapper {
  & .cp-stat-value-text {
    margin-right: 16px;
    &.length-sm {
      font-size: 32px;
    }
  }
}

.cp-stat-label {
  line-height: 1.2;
  margin-top: var(--gutter-xs);
  & .cp-stat-label-text.length-lg {
    font-size: 12px;
  }
}

.cp-stat-subtitle {
  display: inline-block;
  width: auto;
}

.cp-stat-group-title {
  color: var(--darkblue);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-top: var(--gutter-xs);
}

.multi-list {
  & .multi-item {
    background-color: var(--emerald);
    margin: var(--gutter-xs) var(--gutter-xs) var(--gutter-xs) 0;
    padding: var(--button-padding);
  }
}

p {
  font-size: 16px;
  line-height: 24px;
}

.cp-viz-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  & .cp-viz-header {
    position: static;
    & .cp-viz-title {
      color: var(--darkblue);
      font-family: "Oswald", sans-serif;
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
      margin: var(--gutter-sm) !important;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
    & .Options {
      bottom: -50px;
      position: absolute;
      right: 0;
      @mixin max-md {
        display: none;
      }
      & .cp-button-group {
        margin-bottom: 0;
      }
      & .cp-button {
        align-items: center;
        border: 0;
        color: var(--darkblue);
        display: flex;
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        text-transform: uppercase;
        & > [class*="-button-icon"],
        & > [class*="-button-icon"] > svg {
          height: 1.4em;
          width: 1.4em;
        }
        &:hover {
          color: var(--white);
        }
      }
    }
  }
  & .cp-viz-figure,
  & .cp-viz-header + .cp-viz-figure {
    bottom: auto;
    height: auto;
    flex: 1 1 auto;
    margin-bottom: 0;
    padding-top: 0;
    top: auto;
  }
}

.d3plus-tooltip {
  z-index: 20;
}

.mirror-content {
  & .mirror-content-inner {
    height: 100%;
    & .d3plus-geomap-tileGroup {
      display: none;
    }
    & .d3plus-attribution {
      opacity: 0 !important;
    }
  }
}
.mirror-footer {
  & .mirror-footer-logo {
    background-image: url("/images/hcnc-logo-dark.svg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 100%;
    margin: auto 0 auto var(--gutter-md);
    max-height: 2.5rem;
    width: 10rem;
  }
}
